:root {
    --background: #000000;
    --text: #f0f0f0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: monospace;
    font-size: 18px;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
